.hero-section {
  position: relative;
  width: 100%;
  height: 60vh;
  background-size: cover;
  background-position: center;
  color: white;
  display: flex;
  align-items: flex-end;

  .hero-overlay {
    background: linear-gradient(to top, rgb(0,0,0,0.8), transparent);
    width: 100%;
    padding: 40px;
  }

  .hero-title {
    font-size: 3rem;
    margin: 0 0 10px 0;
  }

  .hero-overview {
    font-size: 1.2rem;
    max-width: 70%;
  }
}
