@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


html, body {
    margin: 0;
    padding: 0;
    height: 100%; 
}


body {
    background-color: rgb(20, 20, 20); 
    color: rgb(255, 255, 255);             
    font-family: 'Bebas Neue', sans-serif; 
}


#root, .App {
    min-height: 100vh; 
    background-color: rgb(20, 20, 20);
}